.dashboard{
    text-align: center;
    line-height: 35px;
    background: #dddcdc;
    padding: 10px 0;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.dashboard p{
    color: white;
    font-size: 12px;
}
.set-currency p{
    color: rgb(65, 142, 225);
    background: #f2f0f0;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-top: 30px;
}
.options{
    max-width: 100%;
    display: flex;
    margin: 10px 5px;
    border: 1px solid #9c9c9c;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
select{
    flex: 0.2;
    border: none;
    background: #9c9c9c;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 5px;
    padding-top: 10.5px;
    color: rgb(67, 64, 64);
}
select option{
    padding: 10px 2px;
}
input{
    flex: 0.8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    background: #f2f0f0;
    color: rgb(67, 64, 64);
    padding: 10px 20px;
    word-spacing: 1.5;
}
select:focus, input:focus{
    outline: none;
}
.buttons{
    margin: 1em 10px;
    display: flex;
    justify-content: space-between;
}
.buttons button{
    padding: 1em 3em;
    background-color: rgb(65, 142, 225);
    color: white;
    border-radius: 5px;
    border: none;
}
.recent-activity{
    background-color: #c5c3c3;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.recent-activity > p{
    color: white;
    background: #c5c3c3;
    font-size: 14px;
    margin-left: 10px;
}
.recent-activity table{
    background: #f7f4f4;
    width: 100%;
    text-align: center;
    line-height: 30px;
}
.recent-activity td{
    font-weight: bold;
}